<% provide(:title) %>

<div class="row">
	<div class="span6 offset3">
		<%= @advertisement.width %></br>
		<%= @advertisement.height %></br>
		<%= @advertisement.x_location %>
		<%= @advertisement.y_location %>
		<!--do user name and image selector?? -->
		<%= form_for([@board, @advertisement]) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Create advertisement", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
